@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model string
<h1>Errore @Model</h1>

<img src="https://images7.memedroid.com/images/UPLOADED577/61b6add70a737.jpeg" alt="NotFound">